h1{
    text-align: center;
}

#bannerFilm{
    text-align: center;
    position : relative;
    margin: auto;
    padding : auto;
    width:100%;
}

.buttonPage{
    margin-left: 50px;
    margin-right: 50px;
    display : flex;
    justify-content: space-evenly;
}